#ventana {
    display: none;
    position: fixed;
    height: 250px;
    width: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #e5e5e5;
}
@media only screen and (max-width: 768px) {
    header nav ul {
    display: none;
    }
    header nav .toggle-menu {
    display: block;
    }
}
#slideshow {
    position: relative;
}
#slideshow img {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

    
