/* Estilo base para el contenedor */
.contenedor {
    display: flex;
    flex-wrap: wrap; /* Permite que las imágenes se envuelvan cuando no haya suficiente espacio */
    justify-content: space-between; /* Espacio uniforme entre las imágenes */
}

/* Estilo de las imágenes */
.imagen {
    flex-basis: calc(20.33% - 10px); /* El 10px es el espacio entre las imágenes */
    margin-bottom: 20px; /* Espacio entre las filas */
    padding: 10px;
    box-sizing: border-box; /* Asegura que el padding no aumente el tamaño de las imágenes */
}

/* Estilos específicos para dispositivos más pequeños */
@media screen and (max-width: 768px) {
    .imagen {
        flex-basis: 100%; /* Cambia a una sola columna en pantallas más pequeñas */
    }
}